.my-check {
  width: 20px;
  height: 20px;
}

#my-container {
  margin-top: 30px;
  padding: 20px;
  width: 30em;
}

.my-button {
  margin: 10px;
  width: 80px
}

.my-pdf {
  height: 1000px;
  width: 1000px;
}